.bg-video {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 1;
  overflow: hidden;
}

.bg-video-2 {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 1;
  overflow: hidden;
  grid-column: 3/-1;
  &_content {
    height: 100%;
    width: 100%;
  }
}

.bg-video-1 {
  padding: 2rem;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 1;
  overflow: hidden;
  grid-column: 1/2;
  &_content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
