.story {
  &__pictures {
    grid-column: full-start / full-end;

    position: relative;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}

.space_rover_img {
  grid-column: 1/2;
  height: 100%;
  width: 100%;
}

.story_text {
  grid-column: 2/3;
  font-size: 10rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $font-display;
  margin-left: 2rem;
  color: white;
}
